<p>You've been invited to join MaintMode.</p>
<p>MaintMode is a new way to manage your maintenance status.</p>
<p><a href="{{.Link}}">Accept your invitation</a></p>
<p>If you don't know who you are, you can ignore this email.</p>
