<p>You've been invited to join MaintMode.</p>
<p>MaintMode is a new way to manage your maintenance status.</p>
<p><a href="{{.Link}}">Accept your invitation</a></p>
<p>This link expires in {{.ExpiresIn}}.</p>
<p>If you weren't expecting this invitation, you can safely ignore this email.</p>
